*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.header{
    background-color: aqua;
    height: 15%;
    width: 100%;
}

.content{
    display: flex;
    height: 76%;    
    flex: 1;
}

.left{
    background-color: brown;
    flex: 1;
}

.main{
    background-color: coral;
    flex: 4;
}

.right{
    background-color: chartreuse;
    flex: 1;
}

.footer{
    background-color: gold;
    height: 9%;
}

@media (max-width:500px){
    .content{
        flex-direction: column;
    }
}
